@{
    ViewData["Title"] = "SIFH";
}

<div class="text-center">
    <h1 class="display-4">Receiving Note</h1>
    <div>
        <h3>Details</h3>
        <div>Vessel Name</div>
        <div>
            <h4>Fish Type</h4>
            <button>Ex. 1</button>
        </div>
        <div>Weight</div>
        <div>Grade</div>
        <div>Quantity</div>
        <button>Submit</button>
    </div>
</div>
